@font-face {
    font-family: Lucidia Grande;
    src: url("../assets/fonts/LucidaGrande.ttf");
}

.center {
    margin: 0 auto;
    text-align: center;
}

.first {
    margin-left: 0;
    padding-left: 0;
    border-left: none;
}

/* 
    BODY
*/

body {
    font-size: 12px;
}

/* 
    NAVBAR
*/
nav {
    position: relative;
    top: 18px;
    height: 36px;
    width: 980px;
    margin: 0 auto;
    
    z-index: 9998;
    border-radius: 4px;

    background: linear-gradient(to left, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0) 0.2%,rgba(0, 0, 0, 0) 99.8%, rgba(0, 0, 0, .2));
    background: linear-gradient(to top, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0) 5%,rgba(0, 0, 0, 0) 97%, rgba(0, 0, 0, .45)); 
    box-shadow: rgb(0 0 0 / 30%) 0 1px 2px;
    background: linear-gradient(to top, #666, #5e5e5e 50%, #707070 51%, #808080);
}

nav ul {
    float: left;
}

nav ul li  {
    display: inline-block;
}



nav ul li a {
    text-decoration: none;  
}

nav ul li a span {
    display: block;
    width: 100%;
    height: 30px;
    margin: 3px auto;
}

nav ul li#gn-apple a span{
    background-image: url(../assets/images/globalnav_text.png);
    background-position: 50% 0;
    background-color: rgba(0, 0, 0, 0);
}


nav div {
    position: absolute;
    top: 0;
    right: 0;
    width: 106px;
    padding: 8px 13px;
}

/* 
    MAIN
*/

/* MAIN ARTICLE */
main article {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 292px;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

main article section {
    margin: 0;
    padding: 0;
    position: absolute;
    right: auto;
    left: 50%;
    margin-left: -720px;
    height: 677px;
    width: 1440px;
    background: url("../assets/images/hero.jpg");
    background-position-x: 50%;
    background-position-y: 100%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: 1440px 1315px;
}

main article section header {
    margin-top: -170px;
    padding: 50px 0;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
}

main article section header h1 {
    margin-bottom: -9px;
}

main article section header h2 {
    margin-bottom: 27px;
}

main article section header div {
    position: relative;
    height: 31px;
}

main article section header div a {
    display: inline-block;
    height: 29px;
    margin: 0 18px 25px 18px;
}

main article section header div a img {
    
}

/* MAIN ASIDE */
main aside {
    position: absolute;
    bottom: 90px;
    height: 200px;
    width: 100%;
    min-width: 1024px;
}

main aside ul {
    position: relative;
    margin: 0 auto;
    /* text-align: center; */
    padding: 0;
    height: 200px;
    max-width: 1440px;
    width: 100%;
    min-width: 1024px;
}

main aside ul li {
    position: relative;
    z-index: 1;
    float: left;
    overflow: hidden;
    margin: 0;
    width: 25%;
    height: 200px;
}

main aside ul li a {
    display: block;
    overflow: hidden;
    cursor: pointer; 
}

main aside ul li a img {
    height: 200px;
    width: 364px;
}

/* 
    Footer
*/

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    min-width: 980px;
    width: 100%;
    height: 90px;

    font-family: Lucidia Grande;
    font-size: .8334em;
    line-height: 1.2;
}

footer .wrapper {
    margin: 0 auto;
    width: 980px;
    padding: 1em 0 2.6em;
}

footer .wrapper p {
    display: inlines;
    margin: 0;
    float: left;
    clear: both;
    width: 49%;
    padding-top: 1.5em;
    text-align: left;
    font-weight: 400;
    color: #6e6e6e;
}

footer .wrapper p a {
    text-decoration: none;
    color: rgb(0, 136, 204);
    text-decoration-color: rgb(0, 136, 204);;
}

footer .wrapper p a:hover {
    text-decoration: underline;
}

footer .wrapper ul {
    display: inline;
    margin: 0;
    padding: 0;

    float: left;
    width: 51%;
    padding-top: 1.5em;
    text-align: left;
}

footer div ul::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

footer div ul li {
    display: inline-block;
    float: none;
    margin: 0;
    padding: 0;
    margin-left: .6em;
    padding-left: .6em;
    border-left: 1px solid #ccc;
}

footer .wrapper ul .worldwide {
    position: relative;
    z-index: 1;
    width: 16px;
    height: 12px;
    zoom: 1;
}

footer .wrapper ul .worldwide img {
    position: absolute;
    z-index: 1;
    top: -2px;
    left: 7px;
}

footer .wrapper ul li a {
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 136, 204);
    text-decoration-color: rgb(0, 136, 204);;
}

footer .wrapper ul li a:hover {
    text-decoration: underline;
}

footer div div {
    width: 49%;
    padding-top: 1.5em;
    text-align: left;
}